@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    overflow-x: hidden;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-plusJakarta);
    --font-serif: var(--font-zodiac);
}

body {
    overflow-x: hidden;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}
